body {
	margin:50px 0px; padding:0px;
	text-align:center;
}
.profileImg {
	width:250px;
}
#contentContainer {
	width:80%; margin:0 auto;	
	border-top: 2px solid #dedede;
	height:100%;
}
#infoSpan {
	float:left;
	display: inline-block;
    border-right: 2px solid #dedede;
	margin:0px auto;
	padding:0px;
	margin-right:20px;
	height: 100%;
	overflow:hidden;
}
#infoContent {
	margin:20px;
}
#feedSpan {
	margin:0px auto;	
	padding:0px;
	vertical-align:top;
	text-align:left;
	display: block;
	    overflow:hidden;

}
#feedContent {
	margin:20px 0px;
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	#contentContainer {
		width:95%;
	}
}
@media only screen and (max-width: 675px), only screen and (max-device-width: 675px) {
	#infoSpan {
		width:100%;
		float:right;
		display: inline;
		border-right: 0px solid #dedede;
		border-bottom: 2px solid #dedede;
		overflow:initial;
		margin-right:0px;
		margin-bottom:20px;
	}
	#feedSpan {
		float:auto;
		display: inline;
		width:100%;
		overflow:initial;
	}
}







