/*Trix for sticky footer*/
*, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    clear:both;
    height: 55px; /* '.push' must be the same height as 'footer' */
}
.footer-style {
    padding-top: 15px;
}
/* End trix for sticky footer */
