body {
    text-align: center;
}
a:link {color:#000;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#000;}  /* mouse over link */
a:active {color:#000;}  /* selected link */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue-webfont.woff') format('woff'),
    url('../fonts/bebasneue-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#primary_header {
    font-family: 'bebas_neueregular', serif;
    font-size: 50px;
    /*text-shadow: 2px 2px 2px #bbb;*/
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    margin:0px;
    padding-top: 20px;
 }
#secondary_header {
    font-family: 'bebas_neueregular', serif;
    font-size: 40px;
    /*text-shadow: 2px 2px 2px #bbb;*/
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    margin:0px;
    padding-bottom: 25px;
}
.module_header {
    margin:0px;
    padding-bottom: 20px;
}

.profileImg {
    width: 250px;
}

#container {
    position: relative;
}

#contentContainer {
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #dedede;
}

#menu_wrapper {
    float: left;
    display: inline-block;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
    min-height: 80%;
}

#menu_info_container {
    margin: 20px;
}

#module_wrapper {
    margin: 0px auto;
    padding: 20px;
    vertical-align: top;
    text-align: left;
    display: block;
    overflow: hidden;
    border-left: 2px solid #dedede;
    margin-left: 20px;
}

#headerImage {
    margin: 20px;
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    #contentContainer {
        width: 95%;
    }
}

@media only screen and (max-width: 675px), only screen and (max-device-width: 675px) {
    #headerImage {
        margin: 20px 0px;
        width:100%;height:auto;
    }

    #menu_wrapper {
        width: 100%;
        float: right;
        display: inline;
        border-right: 0px solid #dedede;
        border-bottom: 2px solid #dedede;
        overflow: initial;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #module_wrapper {
        float: auto;
        display: inline;
        width: 100%;
        overflow: initial;
        border-left: 0px solid #dedede;

        margin: 0px auto;
        padding: 0px;
        vertical-align: top;
        text-align: left;
        display: block;
        overflow: hidden;
    }
    #secondary_header {
       font-size: 25px;
    }

    #footer {
        margin: 0 auto;
        width:95%;
    }

    .wrapper {
        margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
        padding-bottom: 20px;
    }
    #footer, .push {
        clear:both;
        height: 55px; /* '.push' must be the same height as 'footer' */
    }
    .footer-style {
        border-top: 2px solid #dedede;
    }
}







